* {
  margin: 0;
}

body {
  background: lightgreen;
  font-family: "Arial Black", Gadget, sans-serif;
}

.top-nav {
  background: black;
  color: white;
  height: 50px;
}

.top-nav li {
  list-style: none;
  padding: 10px;
  margin: 0 auto;
  display: inline-block;
}

.main-title {
  text-align: center;
}

.main-image {
  border-radius: 200px;
  width: 100%;
  align: center;
 }

.sub-images {
  border-radius: 100%;
}

.section-2 {
  padding: 20px;
  margin: 30px;
}

footer {
  background: black;
  color: white;
  height: 20px;
  width: 100%;
  float: center;
}

footer h6 {
  text-align: center;
  padding-top: 3px;
}

a {
  text-decoration: none;
}

a:link {
  color: #ddd;
}

a:visited {
  color: #0b591c;
}

a:hover {
  color: #ffd028;
}

li.background:hover {
  background: tomato;
}

a:active {
  color: #0000FF;
}

a.grow:focus {
  margin-left: 5px;
  margin-right: 5px;

}